/* 
    Created on : May 24, 2014, 8:29:12 PM
    Author     : gregbueno
*/

@font-face {
	font-family: "Novecentowide";
	src: url("fonts/Novecentowide-Bold-webfont.eot");
	src: url("fonts/Novecentowide-Bold-webfont.eot?iefix") format("eot"),
	url("fonts/Novecentowide-Bold-webfont.woff") format("woff"),
	url("fonts/Novecentowide-Bold-webfont.ttf") format("truetype"),
	url("fonts/Novecentowide-Bold-webfont.svg#webfont") format("svg");
	font-weight: bold;
}
@font-face {
	font-family: "Novecentowide";
	src: url("fonts/Novecentowide-Book-webfont.eot");
	src: url("fonts/Novecentowide-Book-webfont.eot?iefix") format("eot"),
	url("fonts/Novecentowide-Book-webfont.woff") format("woff"),
	url("fonts/Novecentowide-Book-webfont.ttf") format("truetype"),
	url("fonts/Novecentowide-Book-webfont.svg#webfont") format("svg");
}

a {
	color: #904848;
}

a:hover {
	color: #906948;
}

a:visited {
	color: #743A5B;
}

#introduction {
	font-size: 120%;
}

#masthead, #masthead h2 {
	color: #FFF;
}

#nav-main li a {
	color: #FFF;
	text-decoration: none;
}

#nav-main li a:hover {
	text-decoration: underline;
}

#subtitle {
	font-size: 85%;
	margin-top: 0;
}

#title {
	font-family: Novecentowide, Helvetica, Arial, sans-serif;
	font-size: 250%;
	margin-top: 0;
	color: #FFF;
	a {
		text-decoration: none;
		color: #FFF;
	}
	small {
		color: #FFF;
	}
}

.button {
	font-size: 120%;
	text-decoration: none;
	color: #FFF;
}

.button:hover, .button:visited {
	color: #FFF;
}

.three-column-single header h3 a, .three-column-single-last header h3 a {
	text-decoration: none;
}

